
{% extends 'base.html' %}

{% block content %}
<main>

    <!--  Заметки из дневника -->
    <h3>Список заметок</h3>

    {% for note in notes %}
    <p style="font-weight:bolder; margin-bottom:0px">{{note.date}}</p>
    <strong style="font-size:13px">{{note.category}}</strong>
    <p>{{note.text}}</p>
    {% endfor %}
    <div class="add_post" style="margin-top:25px; border:2px solid black; padding:5px">
    <form method="post" action="{% url 'notes' %}">
        {% csrf_token %}
        <label for="date">Дата заметки</label><br>
        <input id="date" name="date" type="date" placeholder="dd-mm-yyyy" value=""><br>

        <label for="text">Текст заметки</label><br>
        <textarea id="text" name="text" > </textarea><br>

        <div>
            <label for="category">Выберите категорию:</label>
            <select name="category" id="category">
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.title }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="submit" value="Добавить заметку">
    </form>
    </div>
</main>
{% endblock %}